# Ambiente virtual
.venv/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Dados
data/

# Modelos
models/

# Logs
logs/

# Variáveis de ambiente
.env